.form {
    height: 40vh;
    width: 30vw;
    // background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #000;
    border: 4px dashed #fff;
}

.p {
    width: 80%;
    height: 100%;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}

.input {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 40vh;
    width: 30vw;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.button {
    position: relative;
    background: #f8ef00;
    color: black;
    top: 100px;
    margin: 0;
    border: none;
    width: 50%;
    font-weight: 600;
    font-size: 16px;
    padding: 16px 32px;
    margin-left: -4px;
    border-radius: 4px;
    transition: all 0.2s ease;
    outline: none;
    cursor: pointer;
    transition: background-color 0.4s ease, box-shadow 0.3s ease,
        color 0.4s ease;
    -webkit-transition: background-color 0.4s ease, box-shadow 0.3s ease,
        color 0.4s ease;
    -moz-transition: background-color 0.4s ease, box-shadow 0.3s ease,
        color 0.4s ease;
    -ms-transition: background-color 0.4s ease, box-shadow 0.3s ease,
        color 0.4s ease;
    -o-transition: background-color 0.4s ease, box-shadow 0.3s ease,
        color 0.4s ease;
}

.button:hover {
    background-color: #f75049;
    box-shadow: 5px 5px 5px #5c3a3a;
}

.button:active {
    color: #5ef6ff;
    background-color: rgba(94, 246, 255, 0.3);
    box-shadow: 5px 5px 5px rgba(94, 246, 255, 0.1);
}

// form {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     margin-top: -100px;
//     margin-left: -250px;
//     width: 500px;
//     height: 200px;
//     border: 4px dashed #fff;
// }

.button:disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
    opacity: 0.5;
}
