.container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.title {
    color: #f8ef00;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
    letter-spacing: 8px;
    text-transform: uppercase;
}

.button {
    margin-top: 10px;
    background-color: #f8ef00;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    /*150%*/
    letter-spacing: 3.2px;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: background-color 0.4s ease, box-shadow 0.3s ease,
        color 0.4s ease;
    -webkit-transition: background-color 0.4s ease, box-shadow 0.3s ease,
        color 0.4s ease;
    -moz-transition: background-color 0.4s ease, box-shadow 0.3s ease,
        color 0.4s ease;
    -ms-transition: background-color 0.4s ease, box-shadow 0.3s ease,
        color 0.4s ease;
    -o-transition: background-color 0.4s ease, box-shadow 0.3s ease,
        color 0.4s ease;
}

.button:hover {
    background-color: #f75049;
    box-shadow: 5px 5px 5px #5c3a3a;
}

.button:active {
    color: #5ef6ff;
    background-color: rgba(94, 246, 255, 0.3);
    box-shadow: 5px 5px 5px rgba(94, 246, 255, 0.1);
}

.input {
    width: 75%;
    color: var(--Bright-Aqua, #00f0ff);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /*150%*/
    letter-spacing: 2.7px;
    border-radius: 2px;
    padding: 20px;
    margin: 30px;
    margin-top: 20px;
    border: 2px solid var(--Bright-Aqua, #00f0ff);
    background: rgba(0, 240, 255, 0.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: border-radius 0.2s ease, box-shadow 0.2s ease;
    -webkit-transition: border-radius 0.2s ease, box-shadow 0.2s ease;
    -moz-transition: border-radius 0.2s ease, box-shadow 0.2s ease;
    -ms-transition: border-radius 0.2s ease, box-shadow 0.2s ease;
    -o-transition: border-radius 0.2s ease, box-shadow 0.2s ease;
}

.input:focus {
    outline: 0;
    box-shadow: 10px 5px 5px rgba(0, 238, 255, 0.459);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.created {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #46ff08;
}
